
<!DOCTYPE html>
<html>
<head>
	<title>admin_users_page</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">

<span style="float: right">
<a href="{{url_for('logout')}}" class="btn btn-primary" >Logout</a>

<a href="{{url_for('admin_home_page')}}" class="btn btn-primary" >Home</a>
</span>


<h2>All Users</h2>
<hr>
<ul>
{% for user in users %}
<li><b>{{user[0]}}</b>
{{user[1]}}
{{user[2]}},
{{user[3]}},
{{user[5]}},
{{user[6]}},
{{user[7]}},
{{user[8]}}
<br>
</li>
{% endfor %}
</ul>
</div>
</body>
</html>