<!DOCTYPE html>
<html>
<head>
	<title>admin_home_page</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">

<span style="float: right">
<a href="{{url_for('logout')}}" class="btn btn-warning" >Logout</a>

<a href="{{url_for('admin_home_page')}}" class="btn btn-warning" >Home</a>
</span>




{%if(get_flashed_messages())%}
{% for message in get_flashed_messages() %}
	<div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
  </div>
{%endfor%}
{%endif%}

<h2>Hi admin</h2>
<hr>
<br>
<br>
<span>
<center>
<a href="{{url_for('admin_bookings_page')}}" class="btn btn-primary btn-lg" >All Bookings</a>
-----
<a href="{{url_for('admin_users_page')}}" class="btn btn-primary btn-lg" > All Users</a>
-----
<a href="{{url_for('admin_add_branch_page')}}" class="btn btn-primary btn-lg" >Add Branch</a>

</center>
</span>
</div>
</body>
</html>